h3{
    color:black;
    padding-top: 20px;
    padding-left: 50px;
}
.image{
    display: flex;
   

  
   
}
.imag img{
float: left;
    width: 60%;
    margin-top: 90px;
    margin-left: 70px;
   
}

.hhh .ff{
    font-size: 3em;
    margin-top: 130px;
    padding-right: 140px;
    font-weight: bold;
    word-spacing: 10px;
    float: right;
}
.but{
    font-size: 1em;
    background-color: black;
    color: aliceblue;
    font-weight: 600;
    padding:40px;
    margin-top: 20px;
    
}
p{
    font-weight: 500;
}

    

@media(max-width:641px){

    body{
        font-size: 12px;

    }
    .main-content h2{
        font-size: 0.8em;

    }
    .main-content h3{
        font-size: 1.4em;

    }
}
    @media (max-width:320px) {
        body{
            font-size: 10px;


        }
        .image.hhh.ff{
            display: block;
        }

    }
